   # 100+ Python Program for Practice

1.Program to add two numbers in python

In [2]:
# with pre-define variables
num1 = 70
num2 = 40
sum = num1+num2
print('the sum of two number is', sum)

the sum of two number is 110

In [3]:
# with user-inputs
num1 = float(input('enter the number:'))
num2 = float(input('enter the number:'))
sum = num1 + num2
print('the sum of two number is',sum)

enter the number:80
enter the number:40
the sum of two number is 120.0

2. Program to print Hello World in Python

In [4]:
print("Namaste Bharat")

Namaste Bharat

3. Program to find out square root
a. using exponentiation
b. using math module

In [5]:
#using exponentiation
num = 64
num1 = int(input("enter the number:"))
sr = num1**(1/2)
print("the square root of the giving number is",sr)

enter the number:49
the square root of the giving number is 7.0

In [6]:
#using math module
import math
num = int(input("enter the number:"))
sr = math.sqrt(num)
print("the squar root of the giving number is",sr)

enter the number:49
the squar root of the giving number is 7.0

4. Program to Calculate Area of Triangle

In [7]:
height = float(input("enter the height of triangle:"))
base = float(input("enter the base of triangle:"))

area = (1/2)*base*height

print ('the area of triangle is',area)

enter the height of triangle:12.5
enter the base of triangle:6.5
the area of triangle is 40.625

5. Program to Solve Quadratic Equation

Quadratic equation ax**2 +bx + c=0
a,b and c are real numbers
a!=0

formula for discrimination
d = b**2 -4*a*c

In [16]:
import cmath
a = int(input("enter the number (a!=0): "))
b = int(input('enter the number: '))
c = int(input('enter the number: '))

#formula for discrimination
d = (b**2) - (4 * a*c)

root1 = (-b-cmath.sqrt(d))/(2*a)
root2 = (-b+cmath.sqrt(d))/(2*a)

print("the roots are")
print(root1)
print(root2)

enter the number (a!=0): 1
enter the number: 4
enter the number: 2
the roots are
(-3.414213562373095+0j)
(-0.5857864376269049+0j)

6. Program to Swap two variables
a. using third variable
b. using without third variable

In [20]:
#using third variable
x = 13
y = 12

temp = x
print("the value of temp variable is",temp)

x = y
print("the value of x is", x)

y = temp
print("the value of y is",y)

the value of temp variable is 13
the value of x is 12
the value of y is 13

In [21]:
#without using third variable

x = 12
y = 13

x, y = y,x

print("the value of x is",x)
print("the value of y is",y)

the value of x is 13
the value of y is 12

7. Program to Generate a Random number

In [25]:
import random

num = random.randint(0,10)

print(num)

2

8. Program to convert kilometers to miles

In [27]:
km = float(input("enter the value in kms: "))

miles = (0.621371)*km

print('kms will be', km)
print('miles', miles)

enter the value in kms: 5
kms will be 5.0
miles 3.106855

9.Program to convert Celcius to Fahrenheit

In [28]:
celsius = int(input("enter temperature in celsius"))

fahrenheit = (celsius *(9/5))+32

print("the coverted value is", fahrenheit,)

enter temperature in celsius40
the coverted value is 104.0

10. Program to check if a number is positive,Negative or zero

In [30]:
num = 12

if num > 0:
    print("it is a positive number")
elif num == 0:
    print("it is a zero")
else:
    print("it is a negative number")

it is a positive number

In [31]:
num = int(input("enter a number here:"))

if num > 0:
    print("it is a positive number")
elif num == 0:
    print("it is a zero")
else:
    print("it is a negative number")

enter a number here:-24
it is a negative number

11. Program to Check if a number is odd or even

In [32]:
num = 12

if num % 2 == 0:
    print('it is an even number')
else:
    print('it is an odd number')

it is an even number

In [33]:
num = int(input('enter a number here:'))

if num % 2 == 0:
    print('it is an even number')
else:
    print('it is an odd number')

enter a number here:15
it is an odd number

12. Program to check leap year

In [4]:
year = int(input("enter a year: "))

if (year % 400 == 0) and (year % 100 == 0):
    print(year, "is a leap year")
elif (year % 4 == 0) and (year % 100 != 0):
    print(year,"is a leap year")
else:
    print(year, "is not a leap year")

enter a year: 2024
2024 is a leap year

13.Python Program to find the largest among three numbers

In [5]:
num1 = 12
num2 = 56
num3 = 34

if (num1 > num2) and (num1 >num3):
    print(num1, "is a largest number")
elif (num2 > num1) and (num2 > num3):
    print(num2, "is a largest number")
else:
    print(num3, "is a largest number")

56 is a largest number

In [10]:
num1 = int(input("enter 1st number here: "))
num2 = int(input("enter 2nd number here: "))
num3 = int(input("enter 3rd number here: "))

if (num1 > num2) and (num1 >num3):
    print(num1, "is a largest number")
elif (num2 > num1) and (num2 > num3):
    print(num2, "is a largest number")
else:
    print(num3, "is a largest number")

enter 1st number here: 34
enter 2nd number here: 56
enter 3rd number here: 69
69 is a largest number

14.Check Prime Number

In [12]:
num = int(input("enter a number here: "))

if num ==1:
    print("it is not a prime number")
if num > 1:
    for i in range (2,num):
        if num % i == 0:
            print("it is not a prime number")
            break
    else:
            print("it is a prime number")

enter a number here: 6
it is not a prime number

15.Program to Print all Prime number in an interval

In [14]:
lower = int(input("enter lower limit here: "))
upper = int(input("enter upper limit here: "))

for num in range (lower, upper + 1):
    if num > 1:
        for i in range (2,num):
            if num%i == 0:
                break
        else:
            print(num)

enter lower limit here: 2
enter upper limit here: 50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

16. Program to find the factorial of a number
a. using for loop
b. using recursion

In [15]:
#using for loop

num = int(input("enter a number here: "))

fact = 1

if num < 0:
    print("factorial of 0 does not exist")
if num == 0:
    print("factorial of 0 is", 1)
if num > 0:
    for i in range (1, num+1):
        fact = fact * i
print("the factorial of the giving number is", fact)

enter a number here: 6
the factorial of the giving number is 720

In [16]:
#using recursion

def fact(a):
    if a == 0:
        return 1
    else:
        return ((a)*fact(a-1))
    
num = int(input("enter a number here: "))

result = fact(num)
print("The factorial of the giving is", result)

enter a number here: 5
The factorial of the giving is 120

17. Program to Display the multiplication Table in Python
a. using for loop
b. using while loop

In [17]:
#using for loop

n = 7
for i in range (1,11):
    print(n,"*",i,"=",n*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [2]:
#using while loop

n = int(input("enter a number here: "))
i = 1
while i <= 10:
    print(n,"*",i,"=",n*i)
    i +=1

enter a number here: 16
16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160

18. Program to Print the Fibonacci sequence in Python

In [4]:
a = 0
b = 1
num = int(input("enter a number to obtain fibonacci sequence: "))

if num == 1:
    print(a)
else:
    print(a)
    print(b)
    for i in range (2, num):
        c = a + b
        a = b
        b = c
        print(c)

enter a number to obtain fibonacci sequence: 7
0
1
1
2
3
5
8

19. Program to Check Armstrong Number

  153 = (1*1*1)+(5*5*5)+(3*3*3)
      =  1+125+27
      = 153

In [6]:
# for three digit number

num = int(input('enter a number here: '))

sum = 0
temp = num

while temp > 0:
    digit = temp%10
    cube = digit ** 3
    sum = sum + cube
    temp //= 10
    
if sum == num :
    print('it is an armstrong number')
else:
    print('it is not an armstrong number')

enter a number here: 407
it is an armstrong number

In [7]:
# for n digit number

num = int(input('enter a number here: '))
order = len(str(num))

sum = 0
temp = num

while temp > 0:
    digit = temp%10
    cube = digit ** order
    sum = sum + cube
    temp //= 10
    
if sum == num :
    print('it is an armstrong number')
else:
    print('it is not an armstrong number')

enter a number here: 1634
it is an armstrong number

20. Program to Find Armstrong number in an Interval

In [8]:
lower = int(input('enter the lower limit here: '))
upper = int(input('enter the upper limit here: '))

for num in range (lower, upper + 1):
    order = len(str(num))
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    if num == sum :
        print(num)

enter the lower limit here: 100
enter the upper limit here: 10000
153
370
371
407
1634
8208
9474

21. Program to find the sum of Natural Numbers

In [9]:
num = int(input('enter a number here: '))

if num < 0:
    print('please enter positive number')
else:
    sum = 0
    while num > 0:
        sum += num
        num -= 1
        
    print(sum)

enter a number here: 15
120

22. Program to Display Power of 2 using Anonymous Function

In [11]:
nterms = int(input('enter number of terms here: '))

result = list(map(lambda x : 2 **x, range(nterms+1)))

print(result)

for i in range (nterms+1):
    print('the value of 2 raised to power',i,"is",result[i])

enter number of terms here: 5
[1, 2, 4, 8, 16, 32]
the value of 2 raised to power 0 is 1
the value of 2 raised to power 1 is 2
the value of 2 raised to power 2 is 4
the value of 2 raised to power 3 is 8
the value of 2 raised to power 4 is 16
the value of 2 raised to power 5 is 32

23. Find numbers divisible by another number

In [1]:
# solution using for loop

# print ('the number divisible by 13 are : ')

for i in range (1,100):
    if i % 13 == 0:
        print(i)

13
26
39
52
65
78
91

In [21]:
#using Lambda Function and filter()

l = [39,48,26,98,33,67,87]

result = list(filter(lambda x : x % 13 == 0, l))
print('The numbers divisible by 13 are', result)

The numbers divisible by 13 are [39, 26]

24. Python program to convert decimal to binary, Octal and hexadecimal

In [10]:
decimal = int(input('enter a nymber here: '))
print('the conversion of decimal number',decimal, "is: ")
print(bin(decimal),"in binary")
print(oct(decimal),"in octal")
print(hex(decimal),"in hexadecimal")

enter a nymber here: 12
the conversion of decimal number 12 is:
0b1100 in binary
0o14 in octal
0xc in hexadecimal

25. Python Program to find ASCII value of Character

In [11]:
char = "a"

print("the ASCII value of", char, "is", ord(char))

the ASCII value of a is 97

26. Python Program to find HCF or GCD

In [12]:
def findHCF(x,y):
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range (1,smaller+1):
        if ((x%i == 0) and (y%i ==0)):
            hcf = i
    return hcf
x = 12
y = 30

print("the hcf of the giving two numbers is",findHCF(12,30))

the hcf of the giving two numbers is 6

27. Python Program to find the Factor of a number

In [8]:
num = int(input('enter a number here: '))

for i in range (1, num+1):
    if num % i == 0:
        print(i)

enter a number here: 12
1
2
3
4
6
12

28. Python Program to make a simple calculator

In [11]:
print("~~~~Mini Calculator~~~~")

num1 = float(input('enter first number here: '))
num2 = float(input('enter second number here: '))

print ("press 1 for addition \npress 2 for substraction \npress 3 for division \npress for 4 for multipication")

choice = int(input('enter your choice from 1-4: '))

if choice == 1:
    print ("The addition of two numbers is", num1 + num2)
elif choice == 2:
    print ("The subtraction of two numbers is",num1 - num2)
elif choice == 3:
    print("The division of two numbers is", num1 % num2)
elif choice == 4:
    print("The multiplication of two numbers is", num1*num2)
else:
    print("invalid input")

~~~~Mini Calculator~~~~
enter first number here: 12
enter second number here: 4
press 1 for addition
press 2 for substraction
press 3 for division
press for 4 for multipication
enter your choice from 1-4: 4
The multiplication of two numbers is 48.0

29. Python Program to Shuffle deck of cards

In [25]:
import random, itertools

deck = list(itertools.product(range(1,14),["Spade", "Club", "Heart", "Diamond"]))

random.shuffle(deck)
print(deck)

for i in range(5):
    print(deck[i][0], "of", deck[i][1])

[(3, 'Diamond'), (4, 'Heart'), (11, 'Club'), (3, 'Heart'), (5, 'Spade'), (1, 'Spade'), (4, 'Diamond'), (7, 'Diamond'), (4, 'Club'), (11, 'Heart'), (10, 'Club'), (11, 'Diamond'), (2, 'Club'), (10, 'Spade'), (8, 'Heart'), (12, 'Spade'), (12, 'Diamond'), (13, 'Club'), (7, 'Club'), (1, 'Diamond'), (2, 'Diamond'), (5, 'Diamond'), (2, 'Heart'), (12, 'Heart'), (13, 'Heart'), (8, 'Club'), (5, 'Heart'), (2, 'Spade'), (3, 'Club'), (3, 'Spade'), (9, 'Heart'), (7, 'Heart'), (13, 'Spade'), (9, 'Diamond'), (5, 'Club'), (6, 'Club'), (4, 'Spade'), (8, 'Spade'), (10, 'Heart'), (6, 'Diamond'), (12, 'Club'), (13, 'Diamond'), (10, 'Diamond'), (7, 'Spade'), (8, 'Diamond'), (11, 'Spade'), (6, 'Heart'), (1, 'Club'), (6, 'Spade'), (1, 'Heart'), (9, 'Spade'), (9, 'Club')]
3 of Diamond
4 of Heart
11 of Club
3 of Heart
5 of Spade

30. Python Program to Display Calendar

In [17]:
import calendar

year = int(input('enter year: '))
month = int(input('enter month: '))

calendar = calendar.month(year,month)
print(calendar)

enter year: 1999
enter month: 10
    October 1999
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

31. Python Program to display Fibonacci sequence using recursion

In [2]:
def fibo (n):
    if n <=1:
        return n
    else:
        return fibo(n-1)+fibo(n-2)
    
n = int(input("enter a number here: "))
if n <=0:
    print('enter a positive number ')
else:
    print('Fibonacci sequence')
    for i in range (n):
        print(fibo(i))

enter a number here: 5
Fibonacci sequence
0
1
1
2
3

32. Python Program to find Sum of natural numbers using Recursion

In [1]:
def NNS (n):
    if n <=1:
        return n
    else:
        return (n)+NNS(n-1)
    
n = int(input('enter a number here: '))

if n <=0:
    print('Enter a positive number: ')
else:
    print('The sum of natural number upto given number is ',NNS(n))

enter a number here: 5
The sum of natural number upto given number is  15

33. Python Program to find Factorial of number using Recursion

In [8]:
def fact(n):
    if n == 1:
        return  1
    else:
        return (n * fact(n-1))

n = int(input('Enter a number here: '))
if n <=0:
    print('Factorial of number less than 1 does not exists')
else:
    print('Factorial of given number is', fact(n))

Enter a number here: 7
Factorial of given number is 5040

34. Pyhthon Program to find Decimal to binary using Recursion

In [10]:
def ConvertBinary(n):
    if n > 1:
        ConvertBinary(n//2)
    print(n%2,end = "")
    
print('The binary of the given number is: ')
ConvertBinary(15)

The binary of the given number is:
1111

35. Python Program to add two matrices

In [4]:
A = [[1, 5, 8],
     [4, 6, 7],
     [7, 2, 3]]

B = [[4, 5, 6],
    [8, 9, 1],
    [3, 5, 6]]

result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]

for i in range (len(A)):
    for j in range(len(A[0])):
        result[i][j] = A[i][j] + B[i][j]
        
for r in result:
    print(r)

[5, 10, 14]
[12, 15, 8]
[10, 7, 9]

36. Python Program to Transpose a Matrix

In [8]:
#using for loop

A = [[1, 2, 3],
     [4, 5, 6]]

T = [[0, 0],
     [0, 0],
     [0, 0]]
for i in range (len(A)):
    for j in range (len(A[0])):
        T[j][i]=A[i][j]

for i in T:
    print(i)

[1, 4]
[2, 5]
[3, 6]

In [12]:
#using List Comprehension

A = [[1, 2, 3],
     [4, 5, 6]]

T = [[A[j][i]  for j in range (len(A))] for i in range (len(A[0]))]

for i in T:
    print(i)

[1, 4]
[2, 5]
[3, 6]

37. Python Program to Multiply Two Matrices

In [14]:
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

B = [[1,2,1,1],
     [4,2,1,2],
     [6,3,4,1]]

result = [[0,0,0,0],
          [0,0,0,0],
          [0,0,0,0]]

for i in range (len(A)):
    for j in range (len(B[0])):
        for k in range (len(B)):
            result[i][j] += A[i][k] * B[k][j]
            
for i in result:
    print(i)

[27, 15, 15, 8]
[60, 36, 33, 20]
[93, 57, 51, 32]

38. Python Program to Check whether a string is Palindrome or Not

In [1]:
a = input('enter a word here: ')

rev = a[::-1]

if a == rev:
    print('It is a palindrome')
else:
    print('It is not palindrome')

enter a word here: madam
It is a palindrome

39. Python Program to Remove Punctuations from a String

In [3]:
punc = '''!@#$%^&<?{[]}~'''

string = input('enter anything here: ')
empty_str = ""

for i in string:
    if i not in punc:
        empty_str += i 
        
print(empty_str)

enter anything here: hello !!!! How are you ???? i am fine
hello  How are you  i am fine

40. Python program to sort words in alphabetic order

In [7]:
a = "Harry Potter and the Goblet of fire"

w = a.split()
print(w)

for i in range (len(w)):
    w[i] = w[i].lower()
    
print(w)

w.sort()
print(w)

for i in w:
    print(i)

['Harry', 'Potter', 'and', 'the', 'Goblet', 'of', 'fire']
['harry', 'potter', 'and', 'the', 'goblet', 'of', 'fire']
['and', 'fire', 'goblet', 'harry', 'of', 'potter', 'the']
and
fire
goblet
harry
of
potter
the

41. Python Program to IIlustrate Different set Operations

In [9]:
A = {1,2,3,6,8,9}
B = {3,4,5,6,7,8}

print("the union is", A | B)
print('the intersection is', A & B)
print('the difference is', A - B)
print('the symmetric difference is', A ^ B)

the union is {1, 2, 3, 4, 5, 6, 7, 8, 9}
the intersection is {8, 3, 6}
the difference is {1, 2, 9}
the symmetric difference is {1, 2, 4, 5, 7, 9}

42. Python Program to count theNumber of each vowel

In [12]:
# Using Dictionary

a = "Harry Potter and the Prisoner of Azkaban"

vowels = "aeiou"
a = a.casefold()
print(a)

count = {}.fromkeys(vowels,0)
print(count)

for char in a:
    if char in count:
        count[char]+=1
print(count)

harry potter and the prisoner of azkaban
{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}
{'a': 5, 'e': 3, 'i': 1, 'o': 3, 'u': 0}

In [13]:
# Using list and dictionary Comprehension

a = "Harry Potter and the Prisoner of Azkaban"

vowels = "aeiou"
a = a.casefold()


count = {key:sum([1 for char in a if char == key])for key in vowels}

print(count)

{'a': 5, 'e': 3, 'i': 1, 'o': 3, 'u': 0}

43. Python Program to find the size(resolution) of a image

In [ ]:
import PIL
from PIL import Image

image = PIL.Image.open("C:/Users/91955/OneDrive/Pictures/sport-3.jpg/sport-3")
width, height = img.size

print(width,"x",height)

44. Python program to Merge two dictionaries

In [15]:
#using bar | operator

dict1 = {'John':89, "Lisa":99}
dict2 = {"Lisa":94, "Peter":78}

print(dict1 | dict2)

{'John': 89, 'Lisa': 94, 'Peter': 78}

In [16]:
#using ** Operator

dict1 = {'John':89, "Lisa":99}
dict2 = {"Lisa":94, "Peter":78}

print({**dict1, **dict2})

{'John': 89, 'Lisa': 94, 'Peter': 78}

In [18]:
#using copy() and update() methods

dict1 = {'John':89, "Lisa":99}
dict2 = {"Lisa":94, "Peter":78}

dict3 = dict2.copy()
dict3.update(dict1)
print(dict3)

{'Lisa': 99, 'Peter': 78, 'John': 89}

45. Python Program to safely create a Nested Directory

In [12]:
from pathlib import Path
Path("C:/Users/91955/OneDrive/Python notes$code iNeuron/new_dict/demo_dict").mkdir(parents=True,exist_ok=True)

46. Python Program to Access Index of a list using for loop

In [2]:
# Using Emumerate Method

l = [32,5,61,54,89]
for index, value in enumerate(l):
    print(index,"-",value)

0 - 32
1 - 5
2 - 61
3 - 54
4 - 89

In [3]:
# Using for loop

l = [32,5,61,54,89]

for index in range (len(l)):
    value=l[index]
    print(index,"-",value)

0 - 32
1 - 5
2 - 61
3 - 54
4 - 89

47. Python Program to Slice lists

In [14]:
l = [32,5,61,54,89,99]
print(l[0])
print(l[-5])
print(l[0:4])
print(l[0:5:2])
print(l[::])
print(l[:3])
print(l[-5:-2])

32
5
[32, 5, 61, 54]
[32, 61, 89]
[32, 5, 61, 54, 89, 99]
[32, 5, 61]
[5, 61, 54]

48. Python program to itterate over dictionaries using for loop

In [20]:
friends = {"Rachel":"Rose","Monica":"Chandler","Phoebe":"Joe"}
print(friends)

#solution with .items

for key, value in friends.items():
    print(key,"-",value)
    
#solution with keys
for key in friends:
    print(key,":",friends[key])

{'Rachel': 'Rose', 'Monica': 'Chandler', 'Phoebe': 'Joe'}
Rachel - Rose
Monica - Chandler
Phoebe - Joe
Rachel : Rose
Monica : Chandler
Phoebe : Joe

49. Python Program to sort a Dictionary by Value

In [24]:
marks = {"John":23, "Lisa":56, "Sid":48}
print(marks)

sort_value = sorted(marks.items(), key = lambda x : x[1])
print(sort_value)

sort_value = sorted(marks.values())
print(sort_value)

{'John': 23, 'Lisa': 56, 'Sid': 48}
[('John', 23), ('Sid', 48), ('Lisa', 56)]
[23, 48, 56]

50. Python program to check if a list is Empty

In [28]:
#using boolean operation
my_list = []
if not my_list:
    print('list is empty')
    

#using len function
my_list=[]
if len(my_list)==0:
    print('empty list')
    
    
#using square brackets[]
my_list = []
if my_list == []:
    print('the list is empty')

list is empty
empty list
the list is empty

51. Python program to Catch Multiple Exceptions in one Line

In [5]:
string = input('enter something here: ')

try:
    num = int(input('enter a number here: '))
    print(string + num)
    
except(ValueError, TypeError) as a:
    print(a)

print('thank you')

enter something here: 12
enter a number here: 10
can only concatenate str (not "int") to str
thank you

52. Python program to copy a file

In [13]:
from shutil import copyfile
copyfile("Address for both the file which you want to copy")

53. Python program to Concatenate Two Lists

In [6]:
#using + Operator

l1=[3,6,8,2,"a","j"]
l2=[3,6,"k","f","j"]

l12= l1 + l2
print(l12)

[3, 6, 8, 2, 'a', 'j', 3, 6, 'k', 'f', 'j']

In [8]:
#with Unique Values

l1=[3,6,8,2,"a","j"]
l2=[3,6,"k","f","j"]

l12= list(set(l1+l2))
print(l12)

[2, 3, 6, 8, 'k', 'j', 'f', 'a']

In [9]:
#using Extend() function

l1=[3,6,8,2,"a","j"]
l2=[3,6,"k","f","j"]

l1.extend(l2)
print(l1)

[3, 6, 8, 2, 'a', 'j', 3, 6, 'k', 'f', 'j']

54. Python program to Check if a Key is already present in a dictionary

In [10]:
friends = {"Rachel":"Rose","Monica":"Chandler","Phoebe":"Joe"}

name = input('enter a key here: ')
if name in friends.keys():
    print("it is present")

enter a key here: Monica
it is present

55. Python Program to Parse a String to a float or int

In [13]:
# Using Parse string into integer

string = "12345"
print(type(string))

int_str = int(string)
print(type(int_str))

<class 'str'>
<class 'int'>

In [16]:
# Using Parse string into float
string = "1234.45"
print(type(string))
print(string)

float_string = float(string)
print(type(float_string))
print(float_string)

<class 'str'>
1234.45
<class 'float'>
1234.45

In [18]:
# Parse string float numeral into integer
string = "1234.45"
print(type(string))
str_float_int = int(float(string))
print(type(str_float_int))

<class 'str'>
<class 'int'>

56. Python Program to Convert String to DateTime

In [26]:
#using datetime Module

from datetime import datetime

date = "Oct 14 1997 7:00AM"
print(type(date))

date_time = datetime.strptime(date, "%b %d %Y %I:%M%p")
print(date_time)
print(type(date_time))

<class 'str'>
1997-10-14 07:00:00
<class 'datetime.datetime'>

In [27]:
# Using dateutil Module

from dateutil import parser

date_time = parser.parse("Oct 14 1997 7:15AM")

print(date_time)
print(type(date_time))

1997-10-14 07:15:00
<class 'datetime.datetime'>

57. Python program to get the last element of the list

In [29]:
avengers = ["Ironman","Hulk","Thor","Vision"]

print(avengers[-1])

Vision

58. python program to get a substrin of a string

In [36]:
a = "Harry Potter and the Prisoner of Azkaban"

print(a[0])
print(a[0:12])
print(a[-14:-8])

H
Harry Potter
ner of

59. Python program print output without a newline

In [42]:
print("Harry Potter")
print("and the Goblet of fire")

print("Harry Potter", end = " ")
print("and the Goblet of fire")

Harry Potter
and the Goblet of fire
Harry Potter and the Goblet of fire

60. Python Program to find the euclidean distance between two coordinates

In [34]:
import math

x1=float(input('x1: '))
y1=float(input('y1: '))
x2=float(input('x2: '))
y2=float(input('y2: '))

x=[x1,y1]
y=[x2,y2]
print("="*100)
print("Eucledian distance for given co-ordinate will be",round(math.dist(x,y),2))

x1: 4
y1: 5
x2: 6
y2: 8
====================================================================================================
Eucledian distance for given co-ordinate will be 3.61

61. Python Program Randomly select an element from the list

In [3]:
num = input('enter something here: ')

def float_check(num):
    try:
        float(num)
        return True
    except:
        return False
    
    print(float_check(num))

enter something here: 12

62. Python Program to Check if a string is a number(float

In [4]:
# Using Random module

import random

l = [2,5,"a","y",8,"p"]
random_value = random.choice(l)
print(random_value)

a

In [5]:
# Using secret module

import secrets

l = [2,5,"a","y",8,"p"]
random_value = secrets.choice(l)
print(random_value)

5

63. Python program to count the Occurrence of an item in a list

In [9]:
numbers = [10,20,30,20,30,20,40,20,30,50,70,80,90,30]

count_occurance = numbers.count(30)
print(count_occurance)

4

64. Python Program to Print all factors of a given number provided by User

In [36]:
n = int(input("Enter a number here: "))

for i in range(1,n+1):
    if n%i==0:
        print(i,end=" ")

Enter a number here: 28
1 2 4 7 14 28

65. Python program to Delete an element from a Dictionary

In [11]:
# using del statement

marks = {"john":89,"Lisa":96,"David":65,"Peter":88}
print(marks)
del marks["john"]
print(marks)

{'john': 89, 'Lisa': 96, 'David': 65, 'Peter': 88}
{'Lisa': 96, 'David': 65, 'Peter': 88}

In [14]:
# Using pop() function

marks = {"john":89,"Lisa":96,"David":65,"Peter":88}
print(marks)
pop_item = marks.pop("john")
print(marks)

{'john': 89, 'Lisa': 96, 'David': 65, 'Peter': 88}
{'Lisa': 96, 'David': 65, 'Peter': 88}

66. Python program to Create a Long Multiline string

In [15]:
# Using triple quotions

print("""Hello everyone
this is my demo file
hope you all will like it""")

Hello everyone
this is my demo file
hope you all will like it

In [16]:
# Using backslash \n

print("hello everyone \nthis is demo file \nI hope you all will like it")

hello everyone
this is demo file
I hope you all will like it

In [17]:
# Using \

string = "hello everyone\n"\
          "this is my demo file\n"\
           "hope you all will like it"
print(string)

hello everyone
this is my demo file
hope you all will like it

67. Python program Extract Extension from the file Name

In [ ]:
# using os module

import os

file_ext = os.path.splitext()

68. Python program Measure the Elapsed Time

In [19]:
# Using time module
import time
starting_time = time.time()

num = int(input('enter a number here: '))
num1 = int(input('enter a number here: '))

ending_time = time.time()

print(ending_time - starting_time)

enter a number here: 45
enter a number here: 2
9.275777339935303

In [21]:
# Using Timeit module

from timeit import default_timer as timer

starting_value = timer()

print("hello world")

ending_value = timer()

print(ending_value - starting_value)

hello world
0.0002911000046879053

69. Python program to get the class name of an Instance

In [22]:
# using __class__.__name__

class Smartphone:
    def name(self,name):
        return name
    
s1 = Smartphone()
print(s1.__class__.__name__)

Smartphone

In [25]:
# Using type() and __name_-attributes

class Smartphone:
    def name(self,name):
        return name
    
s1 = Smartphone
print(type(s1))

<class 'type'>

70. Python program to Convert Two lists into a Dictionary

In [28]:
# Using zip() and Dictionary Methods

name = ["John","Peter","Lisa","David"]
marks = [98,78,88,72]

dicti = zip(name,marks)

print(dict(dicti))

{'John': 98, 'Peter': 78, 'Lisa': 88, 'David': 72}

In [29]:
# Using zip() and List Comprehension

name = ["John","Peter","Lisa","David"]
marks = [98,78,88,72]

dicti = {key:value for key,value in zip(name,marks)}
print(dicti)

{'John': 98, 'Peter': 78, 'Lisa': 88, 'David': 72}

71. Program to Differentiate Between type() and isinstance()

In [44]:
class SmartPhone:
    def name(self):
        pass
class Nokia(SmartPhone):
    def phone_name(self):
        pass

obj_SP = SmartPhone()
obj_N = Nokia()

print(type(obj_SP)==SmartPhone)
print(type(obj_N)==SmartPhone)
print()
print(isinstance(obj_SP,SmartPhone))
print(isinstance(obj_N,Nokia))

True
False

True
True

72. Python Program to Trim Whitespace from a string

In [31]:
# Using strip9 function

string = "\nI love Python"
print(string)
print(string.strip(" "))

I love Python

I love Python

In [33]:
# Using Regular Expressions (regex)

import re


string = "I Love Python"
x = re.sub(r'^\s+|\s+$','',string)
print(x)

I Love Python

73. Pyhton program to Get the file Name from the file path

In [48]:
import os

file_name = os.path.basename("C:/Users/91955/OneDrive/Python notes$code iNeuron/new_dict.py")

print(os.path.splitext(file_name)[0])

new_dict

74. Python program to Represent enum

In [45]:
from enum import Enum

class SmartPhones(Enum):
    Samsung = 1
    Nokia = 2
    Apple = 3
print (SmartPhones.Samsung)
print (SmartPhones.Samsung.name)
print (SmartPhones.Samsung.value)

SmartPhones.Samsung
Samsung
1

75. Python program to Return Multiple values from a function

In [8]:
# Using Tuples Unpacking

def friends():
    return "Joe","Shaad"
print(friends())

n1, n2 = friends()
print(n1,",",n2)

('Joe', 'Shaad')
Joe , Shaad

In [10]:
#Using a Dictionary

def friends():
    n1 = "Joe"
    n2 = "Shaad"
    
    return {1:n1,2:n2}
print(friends())
names = friends()
print(names)
print(names[1],",",names[2])

{1: 'Joe', 2: 'Shaad'}
{1: 'Joe', 2: 'Shaad'}
Joe , Shaad

76. Python program to Accept any three string from one input() call

In [52]:
inp = (input("Enter the three names with keeping space in between: "))
sep = inp.split()

#print(sep)

name1=sep[0]
name2=sep[1]
name3=sep[2]

print(name1)
print(name2)
print(name3)

Enter the three names with keeping space in between: Shaad Dollmy Shadab
Shaad
Dollmy
Shadab

77. Python program to Iterate through Two List in Parallel

In [12]:
l1 = ["Rachel","Monica","Phoebe"]
l2 = ["Rose","Chandler","Joe"]
print(tuple(zip(l1,l2)))

for x,y in zip(l1,l2):
    print(x,y)

(('Rachel', 'Rose'), ('Monica', 'Chandler'), ('Phoebe', 'Joe'))
Rachel Rose
Monica Chandler
Phoebe Joe

78. Python program to Reverse a Number

In [13]:
# Using While Loop

num = int(input("enter a number here: "))

reverse_num = 0
while num != 0:
    digit = num%10
    reverse_num = reverse_num * 10 + digit
    num = num//10
    
print('the reverse of the given is', reverse_num)

enter a number here: 9876
the reverse of the given is 6789

In [14]:
# Using String slicing

num = int(input("enter a number here: "))
print(str(num)[::-1])

enter a number here: 1234
4321

79. Python Program to Compute the Power of a number

In [15]:
# while loop

base = int(input("enter a number here: "))
exponent = int(input("enter a exponent here: "))

result = 1
while exponent != 0:
    result = result*base
    exponent = exponent-1
    
print('the computed value is',result)

enter a number here: 3
enter a exponent here: 3
the computed value is 27

In [17]:
# for loop

base = int(input("enter a number here: "))
exponent = int(input("enter a exponent here: "))

result = 1
for i in range (exponent,0,-1):
    result = result*base
    
print('the computed value is',result)

enter a number here: 2
enter a exponent here: 5
the computed value is 32

In [1]:
# using power() function

base = 3
exponent = 4
x = pow(base,exponent)
print('the computed value is',x)

the computed value is 81

In [2]:
# Using Exponentiation Operator

base = 2
exponent = 5
value = base**exponent
print('the computed value is',value)

the computed value is 32

80. Python program to count the number of Digits Present in a number

In [3]:
# Using while function

num = int(input("enter a number here: "))

count = 0
while num != 0:
    num = num //10
    count = count + 1
    
print(count)

enter a number here: 12345
5

In [5]:
# Using len() Function

num = 12345

x = len(str(num))
print(x)

5

81. Python program to check if two strings are Anagram

In [7]:
a1 = "elbow"
a2 = "below"

if len(a1) == len(a2):
    a1_sorted = sorted(a1)
    a2_sorted = sorted(a2)
print(sorted(a1))

if a1_sorted == a2_sorted:
    print('the string is Anagram')
else:
    print('the string is not an Anagram')

['b', 'e', 'l', 'o', 'w']
the string is Anagram

82. Python Program to Capitalize the First Character of a string

In [9]:
# Using .upper() and slicing Concept

a = "school"

print(a[0].upper()+a[1:])

School

In [10]:
# Using .acpitalize()

a = "school"
print(a.capitalize())

School

83. Python program to create a countdown Timer

In [29]:
import time

def countdown(sec):
    while sec:
        mins,secs = divmod(sec, 60)
        time_format = "{:02d}:{:02d}".format(mins,secs)
        print(time_format)
        time.sleep(1)
        sec -= 1
        
        
    print("Stop")

countdown(10)

00:10
00:09
00:08
00:07
00:06
00:05
00:04
00:03
00:02
00:01
Stop

84. Program to count the number of Occurence of a chracter in string

In [30]:
string = "elephantisbighuge"
char = "e"

count = 0
for i in string:
    if i == char:
        count == count + 1
        
print(count)

0

In [31]:
string = "wscubetech"
chrac = "e"

print(string.count(char))

2

85. Python program to remove duplicate element from a list

In [32]:
l = [12,4,5,6,12,7,8,12,9,12]
print(l)

print(set(l))

[12, 4, 5, 6, 12, 7, 8, 12, 9, 12]
{4, 5, 6, 7, 8, 9, 12}

86. Program to find the volume of the cylinder.Also find the cost whenthe cost of 1litre milk is 58Rs.

In [55]:
rad = float(input('enter the radius of cylinder in cm: '))
ht = float(input('enter the height of the cylinder in cm: '))

vol=3.142*(rad**2)*ht
litr=vol/1000
cost=litr*58

print()

print('volume of the cylinder will be', vol)
print('How much milk we can carry in this cylinder',litr,'ltr')
print('This cost of the milk will be',cost)

enter the radius of cylinder in cm: 60
enter the height of the cylinder in cm: 6

volume of the cylinder will be 67867.2
How much milk we can carry in this cylinder 67.8672 ltr
This cost of the milk will be 3936.2976

87. Program to Print Multiplication table from 1 to 10

In [56]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

88. Program to Print the following pattern.


1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [60]:
n = 5

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
        
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

89. Program to find the max item from list without using the max function

In [61]:
l1 = [4,6,2,8,1]

l1.sort(reverse=True)

print(l1[0])

8

90. Python Program to find simple interest when the value of principle,rate of interest and time periord is giving

In [1]:
P = float(input('Principle Amount: '))
R = float(input('Rate of Interest: '))
T = float(input('For the time period: '))

Simple_Interest = (P*R*T)/100

print(Simple_Interest)

total_due = P+Simple_Interest

print('Total due amount will be',total_due)

Principle Amount: 80000
Rate of Interest: 12
For the time period: 5
48000.0
Total due amount will be 128000.0

91. Python Program to create a function tthat takes two arguments.
    name and age and print their value

In [3]:
def biodata(name,age):
    print('Name of the Person is {} and Age is {}'.format(name,age))
    
biodata('Shadab',24)

Name of the Person is Shadab and Age is 24

92. Python Program which can remove a particular character from a string.

In [6]:
a = input('enter the string here: ')
b = input('enter the character you want to remove: ')

a=a.replace(b,"")
print(a)

enter the string here: shadMab
enter the character you want to remove: M
shadab

93. Python Program to print the first 25 odd number

In [7]:
flag = 0
i = 1

odd_list=[]

while True:
    if i%2 !=0:
        odd_list.append(i)
        flag=flag+1
    if flag ==25:
        break
    i=i+1
    
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

94. Python Program to generate list of all even numbers between 2 to 30

In [10]:
for i in range(2,31):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30

In [11]:
#Another way
list(range(2,31,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

95. Python Program to first 25 prime number

In [3]:
def is_prime(x):
    new=[]
    if x<=1:
        return false
    else:
        for i in range(1,x+1):
            if x%i==0:
                new.append(i)
                
    if len(new)<=2:
        return True
    else:
        return False
    
count=0
num=2

while count<25:
    if is_prime(num)==True:
        print(num,end=" ")
        count+=1
        
    num+=1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

96. Python Program to the max item of each row of a matrix.a

In [2]:
import numpy as np

x = [[1,2,3],[4,5,6],[7,8,9]]

y =np.asarray(x)

print(y)

y.max()

[[1 2 3]
 [4 5 6]
 [7 8 9]]

9

97. Python program to Remove empty strings from a list of strings

In [4]:
str_list = ['shaad', 'John', "", 'Dolly', None, "Eric", ""]

for i in str_list:
    if i =="" or i==None:
        str_list.remove(i)
        
print(str_list)

['shaad', 'John', 'Dolly', 'Eric']

98. Python program to Remove empty strings from a list of strings using lambda function

In [7]:
str_list = ['shaad', 'John', "", 'Dolly', None, "Eric", ""]

result =list(filter(lambda x: x!="",str_list))

print(result)

['shaad', 'John', 'Dolly', None, 'Eric']

99. Python Program to Update set1 by adding items from set2, except common items

In [8]:
set1 = {10,20,30,40,50}

set2 = {30,40,50,60,70}

set1.symmetric_difference_update(set2)

print(set1)

{20, 70, 10, 60}

100. Python Program to Convert dictionary into JSON format

In [10]:
import json

data = {'key1' : "value1", "key2" : "value2"}

jsondata=json.dumps(data)

print(jsondata)

{"key1": "value1", "key2": "value2"}

101. Python Program tha will take user input of cost price and selling price and determine whether its a loss or profit.

In [12]:
cost = int(input('The cost of the Product: '))
sell = int(input('The selling Price of Product: '))

if (sell-cost)>0:
    amount=sell-cost
    print('It is profit by',amount)
else:
    amount=sell-cost
    print('It is loss by',amount)

The cost of the Product: 150
The selling Price of Product: 257
It is profit by 107